[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = apk for mobile fuel station activation
[access "refs/*"]
	owner = group user/Daniel (danielgruesso)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Daniel (danielgruesso)
	label-Verified = -1..+1 group user/Daniel (danielgruesso)
	push = group user/Daniel (danielgruesso)
	read = group user/Daniel (danielgruesso)
	rebase = group user/Daniel (danielgruesso)
	removeReviewer = group user/Daniel (danielgruesso)
	submit = group user/Daniel (danielgruesso)
[access "refs/heads/*"]
	create = group user/Daniel (danielgruesso)
	push = +force group user/Daniel (danielgruesso)
	pushMerge = group user/Daniel (danielgruesso)
	read = group user/Daniel (danielgruesso)
[access "refs/tags/*"]
	push = group user/Daniel (danielgruesso)
	push = +force group user/Daniel (danielgruesso)
